<!DOCTYPE html>
<html>
  <head>
    <title>Evently</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTvpLk5Iy6RH4F5KbtGlZ463qjK0YdDrSIQww&usqp=CAU'>

    <%= yield %>
  </body>
</html>
